.tainacan-frame-container {
    min-height: 50vh;
    padding: 30px 4.166666667%;
    background-color: #f5f5f5;
}
.tainacan-frame-container .row { 
    justify-content: space-around;
    align-items: center;
}
.tainacan-frame-container .col { flex-grow: 0; }

.tainacan-frame-container .tainacan-frame {
    padding: 12px 12px 16px 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tainacan-frame-container .tainacan-frame>a {
    display: inline-block;
}
.tainacan-frame-container .tainacan-frame .frame {
    background-color: black;
    background-image: linear-gradient(45deg, #000, #222);
    box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.4);
    padding: 10px;
}
.tainacan-frame-container .tainacan-frame .frame:hover .art::before {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5) inset;
}
    
.tainacan-frame-container .tainacan-frame .mat {
    background: white;
    padding: 17px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5) inset;
}
    
.tainacan-frame-container .tainacan-frame .art {
    position: relative; 
}
.tainacan-frame-container .tainacan-frame .art::before {
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5) inset;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 2px;
    transition: box-shadow 0.2s;
}

.tainacan-frame-container .tainacan-frame .art img {
    max-width: 100%;
    width: 258px;
    height: auto;
    border-radius: 2px;
}

.tainacan-frame-container .tainacan-frame .metadata-title {
    flex-shrink: 0;
    font-size: 0.875em;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    padding: 0.5em 0.75em;
    text-align: center;
    display: inline-block;
    background: #fff;
    margin: 14px 8px 8px 8px;
    box-shadow: 0px 1px 3px #ddd;
    border: 1px solid #dedede;  
}


