.tainacan-exhibition-container {
    min-height: 50vh;
    padding: 30px 24px;
    background-color: #f5f5f5;
}
.tainacan-exhibition-container .tainacan-exhibition {
    padding: 24px;
}

.tainacan-exhibition-container .tainacan-exhibition .media>a {
    float: left;
}

.tainacan-exhibition-container .tainacan-exhibition:hover .media .media-body .list-metadata,
.tainacan-exhibition-container .tainacan-exhibition:hover .media .media-body .list-metadata .metadata-title,
.tainacan-exhibition-container .tainacan-exhibition:hover .media .media-body .list-metadata .metadata-label,
.tainacan-exhibition-container .tainacan-exhibition:hover .media .media-body .list-metadata .metadata-value {
    white-space: normal;
}
.tainacan-exhibition-container .tainacan-exhibition:hover .art img {
    width: 140px;
}

.tainacan-exhibition-container .tainacan-exhibition .frame {
    background: black;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.6);
    padding: 4px;
}
.tainacan-exhibition-container .tainacan-exhibition .frame :hover .art::before {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5) inset;
}

.tainacan-exhibition-container .tainacan-exhibition .mat {
    background: white;
    padding: 8px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5) inset;
}

.tainacan-exhibition-container .tainacan-exhibition .art {
    position: relative;
}
.tainacan-exhibition-container .tainacan-exhibition .art img {
    width: 90px;
    height: auto;
    border-radius: 2px;
    transition: width 0.3s;
}
.tainacan-exhibition-container .tainacan-exhibition .art::before {
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5) inset;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 2px;
    transition: box-shadow 0.2s;
}

.tainacan-exhibition-container .tainacan-exhibition .media .media-body {
    overflow: hidden;
}
.tainacan-exhibition-container .tainacan-exhibition .media .media-body .list-metadata {
    flex: 1;
    color: gray;
    background-color: white;
    padding: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px -8px #333;
    transition: all 0.3s;
}
.tainacan-exhibition-container .tainacan-exhibition .media .media-body .list-metadata .metadata-title {
    flex-shrink: 0;
    font-size: 0.875em;
    margin-bottom: 0.875em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.3s;
}

.tainacan-exhibition-container .tainacan-exhibition .media .media-body .list-metadata  .metadata-label {
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.0;
    margin-bottom: 0.2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.3s;
}

.tainacan-exhibition-container .tainacan-exhibition .media .media-body .list-metadata .metadata-value {
    font-size: 0.75em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.3s;
}

.tainacan-exhibition-container .tainacan-exhibition .media .media-body .list-metadata .list-metadata:before {
    content: '';
    position: absolute;
    top: 32px;
    float: left;
    margin-left: 10px;
    width: 14px;
    height: 14px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: white;
   
}


.tainacan-exhibition-container .metadata-value .tainacan-compound-group {
    margin-left: 2px;
    padding-left: 0.875em;
    border-left: 1px solid var(--tainacan-gray2);
}
.tainacan-exhibition-container .metadata-value .tainacan-compound-group .tainacan-compound-metadatum .label {
    margin-bottom: 0.25em;
    color: var(--tainacan-info-color);
}
.tainacan-exhibition-container .metadata-value .tainacan-compound-group .tainacan-compound-metadatum p {
    margin-bottom: 0.75em;
}
.tainacan-exhibition-container .metadata-value .tainacan-compound-group .multivalue-separator {
    display: block;
    max-height: 1px;
    width: 80px;
    background: var(--tainacan-gray2);
    content: none;
    color: transparent;
    margin: 1em auto 1em -0.875em;
}
.tainacan-exhibition-container .metadata-type-textarea .multivalue-separator ,
.tainacan-exhibition-container .metadata-type-compound .multivalue-separator {
    display: block;
    max-height: 1px;
    width: 80px;
    background: var(--tainacan-gray3);
    content: none;
    color: transparent;
    margin: 1em auto;
}
.tainacan-exhibition-container .metadata-type-compound {
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid var(--tainacan-gray2);
}
.tainacan-exhibition-container .metadata-type-compound .tainacan-metadatum {
    margin-bottom: 0.75em;
}
.tainacan-exhibition-container .metadata-type-compound .tainacan-metadatum>.label,
.tainacan-exhibition-container .metadata-type-compound .tainacan-metadatum>p {
    font-size: 0.75em;
}
.tainacan-exhibition-container .metadata-type-compound .tainacan-metadatum .label:not(:last-child) {
    margin-bottom: 0.3em;
    color: var(--tainacan-info-color);
    font-weight: normal;
}
.tainacan-exhibition-container .metadata-type-compound .tainacan-metadatum p:not(:last-child) {
    margin-bottom: 0.75em;
}