.tainacan-polaroid-container {
    min-height: 50vh;
    padding: 30px 4.166666667%;
    background-color: #f5f5f5;
}
.tainacan-polaroid-container .row { justify-content: space-around; }
.tainacan-polaroid-container .col { 
    flex-grow: 0;
    transition: transform 0.2s ease;
}
.tainacan-polaroid-container .col:nth-of-type(odd) {
    transform: rotate(0.35deg) scale(1.0);    
}
.tainacan-polaroid-container .col:nth-of-type(even) {
    transform: rotate(-0.75deg) scale(1.0);
}
.tainacan-polaroid-container .col:nth-of-type(3n+0) {
    transform: rotate(0.75deg) scale(1.0);
}
.tainacan-polaroid-container .col:nth-of-type(7n+0) {
    transform: rotate(-0.35deg) scale(1.0);
}
.tainacan-polaroid-container .col:hover { 
    transform: rotate(0deg) scale(1.05);
}

.tainacan-polaroid-container .tainacan-polaroid {
    padding: 16px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 2px 14px -8px #333;
    margin: 16px;
    transition: box-shadow 0.1s;
}
.tainacan-polaroid-container .tainacan-polaroid:hover {
    box-shadow: 0px 3px 16px -7px #333;
}

.tainacan-polaroid-container .tainacan-polaroid img {
    width: 258px;
    height: auto;
    max-width: 100%;
    margin: 0 auto 0.75em;
}

.tainacan-polaroid-container .tainacan-polaroid .metadata-title {
    flex-shrink: 0;
    font-size: 0.875em;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 1.0em;
    text-align: center;
}   
.tainacan-polaroid-container .tainacan-polaroid .list-metadata {
    flex: 1;
    color: gray;
    overflow: hidden;
    display: grid;
}
.tainacan-polaroid-container .tainacan-polaroid .list-metadata>div{
    overflow: hidden;
    max-width: 100%;
}
.tainacan-polaroid-container .tainacan-polaroid .list-metadata .metadata-label {
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.0;
    margin-bottom: 0.2em;
}

.tainacan-polaroid-container .tainacan-polaroid .list-metadata .metadata-value {
    text-overflow: ellipsis;
    font-size: 0.75em;
    white-space: nowrap;
    overflow: hidden;
    max-width: 260px;
    margin-bottom: 0.5rem;
}

.tainacan-polaroid-container .metadata-value .tainacan-compound-group {
    margin-left: 2px;
    padding-left: 0.875em;
    border-left: 1px solid var(--tainacan-gray2);
}
.tainacan-polaroid-container .metadata-value .tainacan-compound-group .tainacan-compound-metadatum .label {
    margin-bottom: 0.25em;
    color: var(--tainacan-info-color);
}
.tainacan-polaroid-container .metadata-value .tainacan-compound-group .tainacan-compound-metadatum p {
    margin-bottom: 0.75em;
}
.tainacan-polaroid-container .metadata-value .tainacan-compound-group .multivalue-separator {
    display: block;
    max-height: 1px;
    width: 80px;
    background: var(--tainacan-gray2);
    content: none;
    color: transparent;
    margin: 1em auto 1em -0.875em;
}
.tainacan-polaroid-container .metadata-type-textarea .multivalue-separator ,
.tainacan-polaroid-container .metadata-type-compound .multivalue-separator {
    display: block;
    max-height: 1px;
    width: 80px;
    background: var(--tainacan-gray3);
    content: none;
    color: transparent;
    margin: 1em auto;
}
.tainacan-polaroid-container .metadata-type-compound {
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid var(--tainacan-gray2);
}
.tainacan-polaroid-container .metadata-type-compound .tainacan-metadatum {
    margin-bottom: 0.75em;
}
.tainacan-polaroid-container .metadata-type-compound .tainacan-metadatum>.label,
.tainacan-polaroid-container .metadata-type-compound .tainacan-metadatum>p {
    font-size: 0.75em;
}
.tainacan-polaroid-container .metadata-type-compound .tainacan-metadatum .label:not(:last-child) {
    margin-bottom: 0.3em;
    color: var(--tainacan-info-color);
    font-weight: normal;
}
.tainacan-polaroid-container .metadata-type-compound .tainacan-metadatum p:not(:last-child) {
    margin-bottom: 0.75em;
}